<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music Link Converter</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Circular:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="background-cover"></div>
    <div class="container">
      <h1>Music Link Converter</h1>
      <div class="converter">
        <h2>Convert Link</h2>
        <div class="input-group">
          <input
            type="text"
            id="music-url"
            placeholder="Enter YouTube or Spotify URL"
          />
          <button onclick="convertLink()" id="convert-button">Convert</button>
        </div>
        <div class="result-container">
          <div id="artwork" class="artwork"></div>
          <div id="result" class="result"></div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
